@import '../../../node_modules/normalize.css/normalize';
@import 'shared/utils';
@import 'shared/breakpoints';
@import 'shared/layout';
@import 'shared/colors';
/* PROJECT DETAIL PAGES */

@import 'project-detail-page/quantified';
@import 'project-detail-page/roaster-nexus';
@import 'project-detail-page/vinyldb';
/* FONT IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Carter+One');
/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */

@tailwind preflight;
/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, you should import this line from it's own file:
  *
  * @import "./tailwind-utilities.css";
  *
  * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
  */

@tailwind utilities;
/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

.elm-overlay {
  z-index: 9999999999;
}

/* UTIL CLASSES */

.mirror {
  transform: rotate(180deg);
}

.trans-300ms-all {
  transition: 300ms ease-in-out all;
}

.overlay-bg-color {
  background-color: rgba(0, 0, 0, 0.3);
}

:root {
  font-size: 14px;
  @media (min-width: $bp-xsmall) {
    font-size: between(20px, 14px, $bp-medium, $bp-xsmall);
  }
  @media (min-width: $bp-medium) {
    font-size: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#hero-img {
  background-color: linear-gradient(90deg, #070d0b 0%, #090e0e 25%, #0d1513 50%, #0a140f 75%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('assets/hero-bg.jpg');
}

#hero-text {
  h1 {
    @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
      background: linear-gradient(to right, #feac5e, #c779d0, #57acc6, #76c93e);
      background-size: 400% 400%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: Gradient 5s ease infinite;
      @keyframes Gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    }
  }
}

#nav-list {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  li {
    width: 100%;
    padding: 2rem;
    list-style: none;
    a {
      color: $OFF_WHITE2;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

#main-nav {
  height: 100%;
  max-width: 500px;
  top: 0;
  position: fixed;
  background: #000200;
  border-left: 1px solid $OFF_WHITE2;
  transition: 0.3s ease-in-out all;
  display: flex;
  align-content: center;
  align-items: center;
  right: -9.6rem;
  #nav-list {
    width: 100%;
    padding-left: 0;
  }
  &.show {
    transform: translateX(-100%);
  }
  @media (min-width: $bp-small) {
    /* TABLET AND UP STYLES */
    max-width: none;
    position: fixed;
    background: transparent;
    border: none;
    left: 0;
    top: 2%;
    width: 100%;
    height: 10%;
    justify-content: flex-end;
    background-color: transparent;
    #nav-list {
      flex-direction: row;
      padding-right: 2rem;
      width: auto;
      li {
        width: auto;
        padding: 1rem;
        display: flex;
        align-content: center;
        justify-items: center;
        a {
          margin: 0 auto;
        }
      }
    }
  }
}

#hamburger-button {
  @media (min-width: $bp-small) {
    display: none;
  }
  outline-color: transparent;
  position: absolute;
  top: 0;
  left: -6rem;
  height: 66px;
  width: 66px;
  background: transparent;
  border: none;
  .hamburger {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    .hamburger-inner,
    .hamburger-inner:before,
    .hamburger-inner:after {
      display: block;
      background-color: $OFF_WHITE2;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      content: '';
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
    .hamburger-inner {
      top: 50%;
      transition-duration: 0.1s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    .hamburger-inner:before {
      position: absolute;
      top: 12px;
      transition: top 0.1s 0.14s ease, opacity 0.1s ease;
    }
    .hamburger-inner:after {
      position: absolute;
      bottom: 12px;
      transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    } // Active state styles
    &.is-open {
      .hamburger-inner {
        transform: rotate(45deg);
        transition-delay: 0.14s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      .hamburger-inner:before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease, opacity 0.1s 0.14s ease;
      }
      .hamburger-inner:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

#about {
  min-height: 100vh;
  width: 100vw;
  background: $GRADIENT1;
  color: $OFF_WHITE2;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  #about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      height: 20rem;
      width: 20rem;
      border-radius: 50%;
      margin-bottom: 2rem;
    }
    p {
      line-height: 1.95;
      font-size: 18px;
      @media (min-width: $bp-xxsmall) {
        width: between(310px, 960px, $bp-xxsmall, $bp-large);
      }
    }
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 2.2rem;
      color: darken($OFF_WHITE, 10%);
    }
  }
}

.rn-bg-gif {
  background: url('/assets/gif/coffee.gif');
}

.vdb-bg-gif {
  background: url('/assets/gif/records.gif');
}

.quant-bg-gif {
  background: url('/assets/gif/idea.gif');
}

@mixin project-nav-button($rotation,
$translate) {
  height: 100%;
  outline-color: transparent;
  border: none;
  position: absolute;
  background-color: transparent;
  top: 0;
  display: flex;
  align-content: center;
  justify-items: center;
  transition: all 0.2s ease-in-out;
  img {
    transform: rotate($rotation);
  }
  &:hover {
    transform: translateX($translate);
  }
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#projects {
  .view-project-container {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    .view-project-link {
      display: inline-block;
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto;
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      font-family: 'Carter One', cursive;
    }
  }
  .next-proj-btn {
    @include project-nav-button(0deg,
    0.5rem);
    right: 0;
  }
  .prev-proj-btn {
    @include project-nav-button(180deg,
    -0.5rem);
    left: 0;
  }
}

header {
  height: 100vh;
  width: 100vw;
}

.heading-font {
  color: white;
  line-height: 16px;
  white-space: nowrap;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  animation: fadeIn 0.5s;
  h2 {
    font-weight: 400;
  }
  span {
    height: 90px;
    width: 1px;
    background-color: white;
    animation: growY 0.5s;
    @keyframes growY {
      from {
        transform: scaleY(0.5);
      }
      to {
        transform: scaleY(1);
      }
    }
  }
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $DARK_BG_COLOR;
  height: 100%;
  padding: 2rem 0.8rem 0.8rem 0.8rem;
  p {
    margin: 0.5rem auto;
    color: $OFF_WHITE;
  }
  .email {
    font-style: italic;
    color: $OFF_WHITE;
    font-weight: 600;
    transition: all 0.5s;
    &:hover {
      color: darken($OFF_WHITE, 40%);
    }
  }
  ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li {
      margin: auto 10%;
      list-style: none;
      a {
        text-decoration: none;
        font-size: 2.5rem;
        color: $OFF_WHITE;
        transition: all 0.5s;
        margin-bottom: 0;
        &:hover {
          color: darken($OFF_WHITE, 40%);
        }
        img {
          max-height: 80px;
          margin: 0.8rem;
        }
      }
    }
  }
}

footer {
  background-color: $DARK_BG_COLOR;
  color: $OFF_WHITE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}