@import 'shared/colors';
$backdrop-color: #431b0e;
$subheading-color: #d5c4b6;
$heading-color: #d5c4b6;
$link-accent: #d5c4b6;
$copy-color: #a57d5c;
/* SPAAAAAACE */

.project-card__roaster-nexus {
  section.about-project {
    background-color: $backdrop-color;
    * h3 {
      color: $subheading-color;
    }
    p,
    ul,
    li {
      color: $copy-color;
    }
    h1.project-tagline {
      color: $heading-color;
    }
    .links__container {
      a {
        color: $copy-color;
        span {
          background: $link-accent;
        }
      }
    }
  }
  .thumbnail-container {
    background-color: $backdrop-color;
  }
}
