@import 'shared/colors';
$backdrop-color: #2e3c4f;
$subheading-color: $OFF_WHITE;
$heading-color: $OFF_WHITE;
$copy-color: rgb(50, 141, 184);
$link-accent: #d42e74;
/* SPAACE */

.project-card__vinyldb {
  section.about-project {
    background-color: $backdrop-color;
    * h3 {
      color: $subheading-color;
    }
    p,
    ul,
    li {
      color: $copy-color;
    }
    h1.project-tagline {
      color: $heading-color;
    }
    .links__container {
      a {
        color: $copy-color;
        span {
          background: $link-accent;
        }
      }
    }
  }
  .thumbnail-container {
    background-color: $backdrop-color;
  }
}
