@import 'shared/colors';
$backdrop-color: #083356;
$subheading-color: white;
$heading-color: $OFF_WHITE;
$copy-color: hsl(215, 34%, 81%);
$link-accent: yellow;
/* SPAAAAAACE */

.project-card__quantified {
  section.about-project {
    background-color: $backdrop-color;
    * h3 {
      color: $subheading-color;
    }
    p,
    ul,
    li {
      color: $copy-color;
    }
    h1.project-tagline {
      color: $heading-color;
    }
    .links-container {
      a {
        color: $copy-color;
        span {
          background: $link-accent;
        }
      }
    }
  }
  .thumbnail-container {
    background-color: $backdrop-color;
  }
}