/* UTILITIES */
@function between($to, $from, $toWidth, $fromWidth) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;
  @return calc(#{$base} + #{100vw * $slope});
}
/* BREAKPOINTS */
$bp-xxsmall: 320px;
$bp-xsmall: 576px;
$bp-small: 768px;
$bp-medium: 1024px;
$bp-large: 1366px;
$bp-xlarge: 1920px;
$bp-xxlarge: 2560px;

/* GLOBALS */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$DARK_BG_COLOR: #14161e;
$OFF_WHITE: #f2f2f2;

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;

  @media (min-width: $bp-xsmall) {
    font-size: between(20px, 14px, $bp-medium, $bp-xsmall);
  }

  @media (min-width: $bp-medium) {
    font-size: 20px;
  }
}

html,
body {
  font-family: Helvetica;
  overflow-x: hidden;
  background-color: $DARK_BG_COLOR;
}

html {
  height: 100%;
}

/**
 * Here lies all of the styles for the page
 */

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  svg {
    height: 4.5rem;
    width: 4.5rem;
    fill: $OFF_WHITE;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 320%);
  }
  #hero-img {
    background-color: lighten(grey, 25%);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.6)
      ),
      url('../assets/samuel-zeller-34751-min.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  #hero-text {
    z-index: 10;
    h1,
    h3 {
      color: #f2f2f2;
      text-align: center;
      font-weight: 100;
    }
    h1 {
      font-size: 3rem;
      letter-spacing: 0.1rem;
    }
    h3 {
      font-style: italic;
    }
  }
}

#nav-id.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1 !important;
  top: 0px;
}

.nav-container {
  box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.82);
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
  padding: 0;
  nav {
    ul {
      margin: 0;
      background-color: darken(#2c2c34, 10%);
      padding: 1.2rem;
      padding-left: 0;
      display: flex;
      justify-content: flex-end;
      li {
        margin: 0 2%;
        list-style: none;
        a {
          text-decoration: none;
          font-size: 1.2rem;
          color: white;
        }
      }
    }
  }
}

#about {
  min-height: 100vh;
  width: 100vw;
  background-color: $OFF_WHITE;
  color: black;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  #about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      height: 20rem;
      width: 20rem;
      border-radius: 50%;
      margin-bottom: 2rem;
    }
    p {
      line-height: 1.95;
      @media (min-width: $bp-xxsmall) {
        width: between(310px, 960px, $bp-xxsmall, $bp-large);
      }
    }
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 2.2rem;
      color: darken($OFF_WHITE, 70%);
    }
  }
}

#portfolio {
  @media (min-width: $bp-xxsmall) {
    padding-left: between(10px, 35px, $bp-xxsmall, $bp-xlarge);
    padding-right: between(10px, 35px, $bp-xxsmall, $bp-xlarge);
    padding-bottom: between(10px, 55px, $bp-xxsmall, $bp-xlarge);
  }
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 6%, #14161e 97%);
  background: -webkit-linear-gradient(top, #f2f2f2 6%, #14161e 97%);
  background: linear-gradient(to bottom, #f2f2f2 6%, #14161e 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#f2f2f2',
      endColorstr='#14161e',
      GradientType=0
    );
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.2rem;
  #port-header {
    grid-column: auto / span 3;
    text-align: center;
    color: darken($OFF_WHITE, 70%);
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2.2rem;
  }

  .project-card {
    @media (max-width: $bp-medium) {
      grid-column: auto / span 3;
    }
    box-shadow: 0px 13px 35px 1px rgba(0, 0, 0, 0.82);
    background-color: $OFF_WHITE;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: 100;
      text-align: center;
      color: black;
    }

    ul {
      width: 100%;
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      li {
        padding: 1%;
        width: 90%;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .tech-container {
      width: 100%;
      border-bottom: 2px solid darken($OFF_WHITE, 15%);
      h4 {
        text-align: center;
      }
      ul {
        padding-left: 1%;
        padding-right: 2%;
        margin-bottom: 0, 0, 0.5rem, 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fill, minmax(50%, 1fr));
        grid-gap: 0.5rem;
        li {
          list-style: none;
          justify-self: center;
          align-self: center;
          text-align: center;
        }
      }
    }
    .links {
      text-align: center;
      margin-bottom: 0;
      a {
        text-transform: uppercase;
        font-weight: 600;
        color: darken($OFF_WHITE, 40%);
        transition: all 0.5s;
        text-decoration: none;
        &:hover {
          color: darken($OFF_WHITE, 60%);
        }
      }
    }
    .description {
      color: black;
      padding: 0.8rem;
      text-align: center;
      max-width: 960px;
      line-height: 1.8rem;
      align-self: flex-end;
      a {
        color: darken($OFF_WHITE, 40%);

        text-decoration: none;
        &:hover {
          color: darken($OFF_WHITE, 60%);
        }
      }
    }
  }
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $DARK_BG_COLOR;
  padding: 0.8rem;
  p {
    margin: 0.5rem auto;
    color: $OFF_WHITE;
  }
  .email {
    font-style: italic;
    color: $OFF_WHITE;
    font-weight: 600;
    transition: all 0.5s;
    &:hover {
      color: darken($OFF_WHITE, 40%);
    }
  }
  ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    li {
      margin: auto 10%;
      list-style: none;
      a {
        text-decoration: none;
        font-size: 2.5rem;
        color: $OFF_WHITE;
        transition: all 0.5s;
        margin-bottom: 0;
        &:hover {
          color: darken($OFF_WHITE, 40%);
        }
      }
    }
  }
}

footer {
  background-color: $DARK_BG_COLOR;
  color: $OFF_WHITE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
